
$color-primary: #c8e6c9;
$primary-light: #fbfffc;
$primary-dark: #97b498;

$color-secondary: #e8f5e9;
$secondary-light: #ffffff;
$secondary-dark: #b6c2b7;

$text-primary: #c2185b;
$text-secondary: #bdbdbd;

$font : "Quicksand", sans-serif;


mat-selection-list {
  overflow: auto;
  width: 100%;
  color: $text-secondary;
  font: $font;
  font-size: large;
}

mat-list-option{
  padding: 50px;
}

.chart-wrapper {
  width: 90%;
}

.container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  
}

.fifty-wide{
  width: 1250px;
  display: flex;
}


ul {
  width: 100%;
  overflow: auto;
  list-style: none;
  padding-inline-start: 0px;
  height: 100%;
  font-size: 20px;
}

.year-button-row {
  padding-top: 10px;
}

.year-button-row button,
.year-button-row span {
  margin-right: 8px;
}
