<div class="container">

  <!--  Header Card  -->
  <mat-card style="background-color: aquamarine;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Here is your Credit Card Stats</mat-card-title>
      <mat-card-subtitle>Total Amount : {{totalAmount}}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <mat-grid-list cols="2" rowHeight="500px">

    <mat-grid-tile>
      <mat-selection-list #locSelect>
        <mat-list-option *ngFor="let tloc of totalByLocation" [value]="tloc">
        {{tloc.location}}  
        <span color="primary" style="font-weight: bold;">Debit : {{tloc.creditTotal | currency}}  </span> 
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <p>
        Options selected: {{locSelect.selectedOptions.selected.length}}
      </p>
      <ul>
        <li *ngFor="let valSelect of locSelect.selectedOptions.selected">
          {{ valSelect.value.creditTotal }}
        </li>
      </ul>
    </mat-grid-tile>


  </mat-grid-list>




  


</div>