<div class="container">

  <!--  Header Card  -->
  <mat-card class="header-card" style="background-color: aquamarine;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Credit Card : TD</mat-card-title>
      <mat-card-subtitle style="font-weight: bold;font-size: larger;font-style: italic;color: blueviolet;">Total Amount
        : {{totalAmount | currency}}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <!-- Some more meta crap-->
  <mat-divider></mat-divider>
  <p> In {{selectedYear}} you have purchages from <span *ngIf="totalByLocation"> {{totalByLocation.length}} </span>
    different locations</p>
  <div class="year-button-row">
    <button mat-flat-button color="primary" *ngFor="let item of totalByYear" value="item.location"
      (click)="changeList(item.location)">
      <span style="background-color:hotpink;font-size: 15px;padding: 2px;"> {{item.location}} </span>
      {{item.creditTotal | currency}}
    </button>
  </div>

  <div>
    Sort By
    <button mat-flat-button color="accent" (click)="sortList(totalByLocation,'location')">Location</button>
    <button mat-flat-button color="accent" (click)="sortList(totalByLocation,'debit')">Debit</button>
  </div>

  <mat-grid-list cols="2" rowHeight="750px">

    <mat-grid-tile>
      <mat-selection-list #locSelect (selectionChange)="onLocationSelect(locSelect.selectedOptions.selected)">
        <mat-list-option *ngFor="let tloc of totalByLocation" [value]="tloc">
          <h4 mat-line>{{tloc.location}} </h4>
          <p mat-line> {{tloc.creditTotal | currency}} </p>
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card class="selected-card" style="background-color: aquamarine;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Options selected: {{locSelect.selectedOptions.selected.length}}</mat-card-title>
          <mat-card-subtitle>Total Amount : {{selectedAmount | currency}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let valSelect of locSelect.selectedOptions.selected">
              {{ valSelect.value.location }} {{ valSelect.value.creditTotal | currency}}
              <div *ngFor="let item of valSelect.value.purchaseList" style="color: lightcoral;">
                {{item.date | date}} : Credit : {{item.credit}} Debit : {{item.debit}}
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>







</div>