
$color-primary: #c8e6c9;
$primary-light: #fbfffc;
$primary-dark: #97b498;

$color-secondary: #e8f5e9;
$secondary-light: #ffffff;
$secondary-dark: #b6c2b7;

$text-primary: #000000;
$text-secondary: #000000;


mat-selection-list {
  overflow: auto;
  width: 100%;
  height: 750px;
}

mat-card{
  color: $text-primary;
}

mat-list-option {
  font-style: italic;
}

mat-card-subtitle {
  font-weight: bold;
  font-size: larger;
  font-style: italic;
  font-size: 20px;
  color: $text-secondary;
}

.selected-card {
  width: 100%;
  height: 750px;
  background-color: $color-secondary;
}

.header-card {
  padding-bottom: 20px;
  background-color: $primary-dark;
}


.chart-wrapper {
  width: 100%;
}

.container {
  background-color: $primary-light;
  width: 100%;
  color: $text-primary;
}

.head-label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: $primary-dark;
}

.select-label {
  font-size: 20px;
  background-color:$primary-dark;
}

.location-label {
  font-size: 15px;
}

.purchase-list-label {
  color: $text-secondary;
}

.purchase-location-label {
  font-style: italic;
}

.location-title-label {
  color: $text-secondary;
  font-size: 20px;
}

.purchase-amount-label {
  color: $text-secondary;
}

ul {
  height: 700px;
  width: 100%;
  overflow: auto;
  list-style: none;
  padding-inline-start: 0px;
}

.year-button-row {
  padding-top: 10px;
  background-color: $primary-light;
}

.year-button-row button,
.year-button-row span {
  margin-right: 8px;
}
