
$color-primary: #c8e6c9;
$primary-light: #fbfffc;
$primary-dark: #97b498;

$color-secondary: #e8f5e9;
$secondary-light: #ffffff;
$secondary-dark: #b6c2b7;

$text-primary: #fff;
$text-secondary: #000000;

$font : "Quicksand", sans-serif;


mat-selection-list {
  overflow: auto;
  width: 100%;
  height: 750px;
}


.selected-card {
  width: 100%;
  height: 750px;
}

.header-card {
  margin-bottom: 5%px;
}

.chart-wrapper {
  width: 100%;
}

.container {
  width: 100%;
  font: $font;
  color: $text-primary;
  //background: linear-gradient(45deg, #796fc1 0%, #838beb 100%);
}


ul {
  height: 700px;
  width: 100%;
  overflow: auto;
  list-style: none;
  padding-inline-start: 0px;
}

.year-button-row {
  padding-top: 10px;
}

.year-button-row button,
.year-button-row span {
  margin-right: 8px;
}
